/* =========================
   BASE
========================= */

* {
  font-family: "JetBrainsMono Nerd Font", "Symbols Nerd Font", monospace;
  font-size: 12px;
  font-weight: 700;
  color: #d9e0ee;
  min-height: 0;
  border: none;
  border-radius: 0;
}

/* =========================
   ROOT BAR
========================= */

window#waybar {
  background: rgba(10, 12, 18, 0.84);
  border-bottom: 1px solid rgba(203, 166, 247, 0.10);
  box-shadow: none;
}

/* =========================
   MÓDULOS
========================= */

#workspaces,
#pulseaudio,
#network,
#tray,
#mpris,
#cpu,
#memory,
#clock {
  background: transparent;
  padding: 0 8px;
  margin: 0;
  min-height: 22px;
}

/* =========================
   IZQUIERDA
========================= */

#workspaces {
  padding-left: 10px;
  padding-right: 8px;
}

#workspaces button {
  padding: 0 7px;
  margin: 3px 2px;
  min-width: 16px;
  min-height: 16px;
  border-radius: 7px;
  background: transparent;
  color: rgba(217, 224, 238, 0.42);
}

#workspaces button:hover {
  background: rgba(203, 166, 247, 0.08);
  color: #d9e0ee;
}

#workspaces button.active {
  background: rgba(203, 166, 247, 0.14);
  color: #cba6f7;
}

#pulseaudio {
  color: #f5c2e7;
}

#network {
  color: #89dceb;
}

#tray {
  background: rgba(255, 255, 255, 0.03);
  border-radius: 7px;
  padding-left: 8px;
  padding-right: 10px;
  color: #89dceb;
}

#tray > .passive {
  -gtk-icon-effect: dim;
}

#tray > .needs-attention {
  -gtk-icon-effect: highlight;
}

#tray menu {
  background: rgba(10, 12, 20, 0.96);
  color: #d9e0ee;
}

/* =========================
   CENTRO
========================= */

#mpris {
  color: #d9e0ee;
  background: rgba(255, 255, 255, 0.025);
  border-radius: 7px;
  padding: 0 12px;
  min-width: 160px;
}

/* =========================
   DERECHA
========================= */

#cpu {
  color: #94e2d5;
  min-width: 40px;
}

#memory {
  color: #cba6f7;
  min-width: 80px;
}

#clock {
  color: #f5e0dc;
  background: rgba(255, 255, 255, 0.025);
  border-radius: 7px;
  padding: 0 12px;
  margin: 2px 6px;
  min-width: 70px;
}

/* =========================
   ESTADOS
========================= */

#network.disconnected,
#pulseaudio.muted {
  color: #f38ba8;
}

/* =========================
   TOOLTIP
========================= */

tooltip {
  background: rgba(10, 12, 20, 0.96);
  border: 1px solid rgba(203, 166, 247, 0.16);
  border-radius: 8px;
}

tooltip label {
  color: #d9e0ee;
  padding: 4px;
}

#custom-cpu_temp {
  color: #94e2d5;
  min-width: 54px;
  padding: 0 8px;
}

#custom-cpu_temp.warning {
  color: #fab387;
}

#custom-cpu_temp.critical {
  color: #f38ba8;
}

#custom-net_speed {
  color: #89dceb;
  min-width: 96px;
  padding: 0 8px;
}
